*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-size: 4em;
    font-weight: 900;
    line-height: 0.9;
}

p {
    margin: 0;
    color: grey;
}

a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid grey;
    transition: all 0.3s ease-in;
}

a:hover,
a:active,
a:focus {
    color: white;
    background-color: grey;
}

figure {
    margin: 0;
}

::-moz-selection {
    color: white;
    background-color: #d0f2ee;
    text-shadow: none;
}

::selection {
    color: white;
    background-color: #d0f2ee;
    text-shadow: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: black;
    background-color: white;
}

@media (min-width: 20em) {
    body {
        font-size: 102.5%;
    }
}

@media (min-width: 30em) {
    body {
        font-size: 105%;
    }
}

@media (min-width: 54em) {
    body {
        font-size: 107.5%;
    }
}

@media (min-width: 64em) {
    body {
        font-size: 110%;
    }
}

@media (min-width: 76.5em) {
    body {
        font-size: 115%;
    }
}

@media (min-width: 114em) {
    body {
        font-size: 125%;
    }
}

.post {
    min-height: 100vh;
    width: 100%;
    border: 0.5em solid white;
}

.post>*:first-child {
    position: relative;
    height: 14em;
    background-color: black;
}

@media (min-width: 30em) {
    .post>*:first-child {
        height: 18em;
    }
}

@media (min-width: 54em) {
    .post>*:first-child {
        flex-basis: 50%;
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 76.5em) {
    .post>*:first-child {
        flex-basis: 60%;
        max-width: 60%;
    }
}

@media (min-width: 54em) {
    .post>*:last-child {
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media (min-width: 76.5em) {
    .post>*:last-child {
        flex-basis: 40%;
        max-width: 40%;
    }
}

.post_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    overflow: auto;
}

.post_time {
    position: relative;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
}

.post_content {
    padding: 2em 0;
}

@media (min-width: 54em) {
    .post_content {
        padding: 0.4em;
    }
}

.post_header {
    overflow: hidden;
}

.post_text {
    font-weight: 300;
}

.post_link {
    text-align: right;
}

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: fade-in 0.8s;
}
